<div class="jumbotron jumbotron-fluid">
  <div class="container text-center">
    <h1 class="display-4">Hello from Crew App!</h1>
    <p class="lead">Hope you have a nice <%= Date.current.strftime("%A") %>, <%= current_user.name %>. :)</p>
  </div>
</div>
