<header class="tc pv4 pv4-ns">
  <img class="w2 h2 w3-ns h3-ns br-100" src="http://tachyons.io/img/avatar-mrmrs.jpg" />
  <h1 class="f5 f2-ns fw6 mid-gray"><%= @user.name %></h1>
</header>

<ul>
  <li>Info</li>
  <li>Short Description</li>
  <li>Skills</li>
  <li>Team</li>
</ul>
