<% if flash.any? %>
  <div class="mb-5">
    <% flash.each do |key, value| %>
      <div class="w-90 ba br2 pa3 ma2 <%= flash_message_classes_for_alert_level(key) %> mb-2" role="alert">
        <%= value %>
      </div>
    <% end %>
  </div>
<% end %>
