<% if flash.any? %>
  <div class="mb3">
    <% flash.each do |key, value| %>
      <div class="w-100 ba br2 pa3 <%= flash_message_classes_for_alert_level(key) %>" role="alert">
        <%= value %>
      </div>
    <% end %>
  </div>
<% end %>
