<header class="tc pv4 pv5-ns">
  <h1 class="f5 f3-ns fw6 mid-gray">About</h1>
</header>

<section class="mb5">
  <h2 class="f4">Some info about the company</h2>
  <p class="measure lh-copy">
    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
    tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
    vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
    no sea takimata sanctus est Lorem ipsum dolor sit amet.
  </p>
</section>
